<ion-content>

  <!-- --background:whitesmoke; -->
<ion-tabs  >
<ion-tab-bar style="bottom:0;  " slot="bottom" >


  <ion-tab-button  tab="tabev" layout="icon-center">
   <ion-icon style="font-size: 40px;" name="home"></ion-icon>
  </ion-tab-button>


 
 <ion-tab-button   tab="tabrandevu">
  <ion-icon name="calendar-outline"></ion-icon>
   <ion-label>Randevularım</ion-label>
 </ion-tab-button>


 <ion-tab-button tab="tabsonuc">
   <ion-icon src="../../../assets/b.svg"></ion-icon>
<!-- <ion-icon name="fitness-outline"></ion-icon> -->
   <ion-label>Sonuçlarım</ion-label>
 </ion-tab-button>
 
 <ion-tab-button tab="tabhesap">
   <ion-icon name="person-outline"></ion-icon>
   <ion-label>Hesabım</ion-label>

 </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs> 
</ion-content>
