.buton2{
    --background:white;
    color:black;
}



ion-select {
    --placeholder-opacity: 1 !important;
}


.randevu_sec_class{
    --background:#2dd36f;
    --background-activated:#2dd36f ;
    --background-activated-opacity:1;
    color:white;
    }

.randevu_dolu_class{
    --background:grey;

    }

 