<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;margin-right: 40px;margin-top: 5px;margin-left: 15px;display: block;" >Hakkımızda</ion-title>
    <ion-icon style=" font-size: 32px;opacity: 0.5;
 margin-top: -28px; float: right;margin-right: 5px;"
    (click)="modal_kapat()" name="close-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-card-content  >
        <ion-label  style="text-align: center;display: block;color:darkcyan;" >191307006-AylinNur Güldür</ion-label>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
        <ion-label style="text-align: center;display: block;color:darkcyan;" >191307073-Mustafa Yalçın</ion-label>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
        <ion-label style="text-align: center;display: block;color:darkcyan;" >191307032-Bahadır Özdemir</ion-label>
    </ion-card-content>
  </ion-card>


</ion-content>
