<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>
      <ion-icon  style=" font-size: 32px;position:absolute; display:block; text-align: left; opacity: 0.5;" (click)="modal_kapat()" name="close-outline"></ion-icon>
      <span style="display:block;
      text-align: center;" >
        <ion-label >Kayıt Ol</ion-label>
      </span>
    </ion-title>
  </ion-toolbar>

</ion-header>




<ion-content [fullscreen]="true"  >
  <!-- pager="true" -->
  <div [ngSwitch]="page">


 
    <form [formGroup]="form">
      <span *ngSwitchCase="1">
        <br>
       <!-- <ion-label style="display: block; text-align: center;  font: bold 20px black Ariel;">Kimlik Bilgileri</ion-label> -->
      <ion-item lines="full">
        <ion-label position="floating">T.C. Kimlik No</ion-label>
        <ion-input  formControlName="tc_no" text="text" type="tel" pattern="[0-9]*"  maxlength="11"></ion-input>
      </ion-item>

      <ion-text *ngIf="!form.get('tc_no').valid && form.get('tc_no').touched">
        <ion-text color="danger" *ngIf="form.get('tc_no').hasError('required')">
          ⓘ Lütfen 11 haneli T.C. kimlik numaranızı girin!
        </ion-text>
       <ion-text color="danger" *ngIf="!form.get('tc_no').hasError('required') && form.get('tc_no').hasError('minlength')">
        ⓘ T.C. kimlik numaranız 11 haneli olmalıdır!
       </ion-text>
       <ion-text color="danger" *ngIf="form.get('tc_no').hasError('pattern') && !form.get('tc_no').hasError('required')"  >
        ⓘ T.C. kimlik numaranız sadece sayı içermelidir!
       </ion-text>

      </ion-text>
      <br>
     
        <ion-row>
          <ion-col>
            <ion-item lines="full">
            <ion-label  position="floating" style="float: left;">Ad</ion-label>
            <ion-input maxlength="30" formControlName="ad" type="text" required></ion-input>
      </ion-item>
      <ion-text *ngIf="!form.get('ad').valid && form.get('ad').touched">
        <ion-text color="danger" *ngIf="form.get('ad').hasError('required')">
          ⓘ Lütfen adınızı girin!
        </ion-text>
       <ion-text color="danger" *ngIf="!form.get('ad').hasError('required') && form.get('ad').hasError('minlength')">
        ⓘ Lütfen tam adınızı girin!
       </ion-text>

       <ion-text color="danger" *ngIf="form.get('ad').hasError('pattern')">
        ⓘ Lütfen sadece harf girin!
       </ion-text>

      </ion-text>
          </ion-col>
       
          <br>



          <ion-col>
            <ion-item lines="full">
            <ion-label position="floating" style="float: left;" >Soyad</ion-label>
            <ion-input maxlength="30" formControlName="soyad" type="text" required></ion-input>
      </ion-item>

      <ion-text *ngIf="!form.get('soyad').valid && form.get('soyad').touched">
        <ion-text color="danger" *ngIf="form.get('soyad').hasError('required')">
          ⓘ Lütfen soyadınızı girin!
        </ion-text>
       <ion-text color="danger" *ngIf="!form.get('soyad').hasError('required') && form.get('soyad').hasError('minlength')">
        ⓘ Lütfen tam soyadınızı girin!
       </ion-text>
      </ion-text>

          </ion-col>
        </ion-row>
    
     



        <br>










   
        <ion-item>
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Doğum Tarihi</ion-label>
          <ion-datetime formControlName="tarih" style="margin: 2px 33% 0 0 ;" placeholder="" value="1980-04-04"  min="1921-02" [max]="max_time" 
        displayFormat="YYYY-MM-DD"
        doneText="Tamam"
        pickerFormat="YYYY-MM-DD"
        cancelText="İptal"
        monthShortNames="Oca, Şub, Mar, Nis, May, Haz, Tem, Ağu, Eyl, Eki, Kas, Ara">
      </ion-datetime>
        </ion-item>

        <ion-text *ngIf="!form.get('tarih').valid && form.get('tarih').touched">
          <ion-text color="danger" *ngIf="form.get('tarih').hasError('required')">
            ⓘ Lütfen doğum tarihinizi seçin!
           </ion-text>
           </ion-text>
      
           <br>
        <ion-item >
          <br>
        <ion-segment  formControlName="cinsiyet" >
          <br>
          <ion-segment-button value="E">

            <ion-icon name="male-outline"></ion-icon>
            <ion-label>Erkek</ion-label>
          </ion-segment-button>

          <ion-segment-button value="K">

            <ion-icon name="female-outline"></ion-icon>
            <ion-label>Kadın</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-text *ngIf="!form.get('cinsiyet').valid && form.get('cinsiyet').touched">
        <ion-text color="danger" *ngIf="form.get('cinsiyet').hasError('required')">
          ⓘ Lütfen cinsiyetinizi seçin!
        </ion-text>
      </ion-text>

      <br>

      <ion-item>
        <ion-checkbox  formControlName="politika" animation="no-animation" style="--border-radius: 20px; --size:20px" color="primary"></ion-checkbox>
        <ion-label style="margin-left: 5px; font-size: 15px; ">Üyelik ve Gizlilik Politikasını kabul ediyorum.</ion-label>
      </ion-item>
      <ion-text *ngIf="!form.get('politika').valid && form.get('politika').touched">
        <ion-text color="danger" *ngIf="!form.get('politika').hasError('requiredTrue')">
          ⓘ Devam etmek için lütfen seçin!
        </ion-text>
      </ion-text>
      <br>
      

  <!-- dogum yeri -->


        <!-- <ion-radio-group>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
            <ion-label >Ad</ion-label>
          <ion-radio value="biff"></ion-radio>
          </ion-item>
          </ion-col>

          <ion-col>
            <ion-item lines="full">

            <ion-label >Soyad</ion-label>
            <ion-input type="text" required></ion-input>
      </ion-item> -->

          <!-- </ion-col>
        </ion-row>
      </ion-radio-group>
         -->
    
     
         <ion-button   shape="round" color="primary"  (click)="next()" expand="block">İleri</ion-button>

    



    </span>


  </form>

<form [formGroup]="form2">

    <!-- Kayıt ol 2 sayfa -->

    <span *ngSwitchCase="2">
      <!-- <ion-label style="display: block; text-align: center;">İletişim Bilgileri</ion-label> -->
      <br>
     <ion-item lines="full">
        <ion-label position="floating">Telefon</ion-label>
        <ion-input formControlName="tel" type="tel"  maxlength="11" required></ion-input>
          </ion-item>
          <ion-text *ngIf="!form2.get('tel').valid && form2.get('tel').touched">
            <ion-text color="danger" *ngIf="form2.get('tel').hasError('required')">
              ⓘ Lütfen telefon numaranızı giriniz!
            </ion-text>
           <ion-text color="danger" *ngIf="!form2.get('tel').hasError('required') && form2.get('tel').hasError('minlength')">
            ⓘ Telefon numaranız 11 haneli olmalıdır!
           </ion-text>
          </ion-text>
          <br>
      <ion-item lines="full">
  <ion-label  position="floating">E-mail</ion-label>
  <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-text *ngIf="!form2.get('email').valid && form2.get('email').touched">
      <ion-text color="danger" *ngIf="form2.get('email').hasError('required')">
        ⓘ Lütfen mail adresinizi giriniz!
      </ion-text>
     <ion-text color="danger" *ngIf="!form2.get('email').hasError('required')  && form2.get('email').hasError('pattern') ">
      ⓘ Lütfen geçerli bir mail adresi girin!
     </ion-text>
    </ion-text>
    
    <br>


<ion-item lines="full">
  <ion-label position="floating">Şifre</ion-label>
  <ion-input [attr.maxlength]="30" formControlName="password1" text="password"  [type]="password_type" ></ion-input>

  <!-- sifre gorunebilirlik iconları -->
  <ion-icon style="margin-top: 20px;" [hidden]="hide"    name="eye" slot="end" (click)="show_pw1()" ></ion-icon>
  <ion-icon style="margin-top: 20px;"  [hidden]="!hide"   name="eye-off" slot="end" (click)="show_pw1()" ></ion-icon>
</ion-item>

<ion-text *ngIf="!form2.get('password1').valid && form2.get('password1').touched">
  <ion-text color="danger" *ngIf="form2.get('password1').hasError('required')">
    ⓘ Lütfen şifrenizi giriniz!
  </ion-text>
 <ion-text color="danger" *ngIf="!form2.get('password1').hasError('required') && form2.get('password1').hasError('minlength')
 && form2.get('password1').hasError('pattern')">
  ⓘ Şifreniz bir buyuk harf,bir sayı ve özel ($@!%?&*-) karakter içermelidir!
 </ion-text>
</ion-text>
<br>
<!-- <ion-item lines="full">
  <ion-label position="floating">Şifre tekrar</ion-label>
  <ion-input [attr.maxlength]="30" formControlName="password2" text="password"  [type]="password_type" ></ion-input> -->

  <!-- sifre gorunebilirlik iconları -->
  <!-- <ion-icon style="margin-top: 20px;" [hidden]="hide"    name="eye" slot="end" (click)="show_pw2()" ></ion-icon>
  <ion-icon style="margin-top: 20px;"  [hidden]="!hide"   name="eye-off" slot="end" (click)="show_pw2()" ></ion-icon>
</ion-item> -->

<!-- <ion-text *ngIf="!form2.get('password2').valid && form2.get('password2').touched">
  <ion-text color="danger" *ngIf="form2.get('password2').hasError('required')">
    ⓘ Lütfen şifrenizi giriniz!
  </ion-text>
 <ion-text color="danger" *ngIf="!form2.get('password2').hasError('required') && form2.get('password2').hasError('minlength')">
  ⓘ Şifreniz en az 8 haneli olmalıdır!
 </ion-text>
</ion-text> -->


<br>

<!-- <ion-item>
  <ion-label position="stacked">Adres</ion-label>
  <ion-input placeholder="Address Line 1"></ion-input>
  <ion-input placeholder="Address Line 2"></ion-input>
  <ion-input placeholder="Şehir"></ion-input>
  <ion-input placeholder="İlçe"></ion-input>
  <ion-input placeholder="Posta Kodu"></ion-input>
</ion-item>
<br> -->
      <!-- Butonlar -->
      <ion-row>
        <ion-col>
        <ion-button style="width: 48.5%; float: left;"  shape="round" color="primary"  (click)="previous()" >Geri</ion-button>
        <ion-button style="width: 48.5%; float: right;" type="submit" shape="round" color="danger" (click)="sign_up()"   >Üye Ol</ion-button>
      </ion-col>
      </ion-row>



      

    </span>
  </form>


    

<!--     

   <ion-item *ngIf="data">
     <ion-label>
      {{data.cinsiyet}}
     </ion-label>
     <ion-label>
      {{data.tarih}}
     </ion-label>
   </ion-item>  -->



    





</div>
  
  
<!-- <ion-item lines="full">
  <ion-label position="floating">Şifre</ion-label>
  <ion-input  [type]="password_type" required></ion-input>
  <ion-icon style="margin-top: 20px;" [hidden]="hide"    name="eye" slot="end" (click)="show_pw1()" ></ion-icon>
  <ion-icon style="margin-top: 20px;"  [hidden]="!hide"   name="eye-off" slot="end" (click)="show_pw1()" ></ion-icon>
</ion-item>

 <ion-item lines="full">
  <ion-label position="floating">Şifre Tekrar</ion-label>
  <ion-input  [type]="password_type2" required></ion-input>
  <ion-icon style="margin-top: 20px;"  [hidden]="hide2"    name="eye" slot="end" (click)="show_pw2()" ></ion-icon>
  <ion-icon style="margin-top: 20px;"  [hidden]="!hide2"   name="eye-off" slot="end" (click)="show_pw2()" ></ion-icon>
</ion-item> -->
    
<!-- <ion-item lines="full">
  <ion-label position="floating">E-mail</ion-label>
  <ion-input type="text" required></ion-input>
</ion-item> -->

  
  </ion-content>